@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.swiper {
    padding: 2rem 0;
    overflow: hidden;
    position: relative;
    top: 50%;

    &-slide {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
        background-position: center;
        background-size: cover;
    }

    &-imagen {
        display: block;
        width: 100%;
    }

    &-button-next, &-button-prev{
        color: v.$blanco;
        opacity: .5;
    }

    &-pagination{
        bottom: 4rem;
    }

    &-pagination-bullet{
        background-color: v.$blanco;
    }

    &-pagination-bullet-active{
        background-color: v.$primario;
    }
    &-button-prev, &-rtl &-button-next {
        @include m.tablet{
            left: 11rem;
        }

        @include m.desktop{
            left: 2rem;
        }
    }
    &-button-next:after, &-rtl &-button-prev:after{
        margin-left: -2rem;
        @include m.tablet{
            margin-left: -11rem;
        }

        @include m.desktop{
            margin-left: -20rem;
        }
    }

}
